JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=30d
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://rabbitmq
AUTH_MONGO_URI=mongodb://mongo-auth:27017/pixelcart-auth
PRODUCT_MONGO_URI=mongodb://mongo-products:27017/pixelcart-products
ORDER_MONGO_URI=mongodb://mongo-orders:27017/pixelcart-orders
